<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">


    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="themes/folio/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="themes/folio/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="themes/folio/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="themes/folio/vendor/aos/aos.css">

    <link rel="stylesheet" type="text/css" href="themes/folio/vendor/tiny-slider/tiny-slider.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="themes/folio/css/style.css">
</head>

<body class="bg-gray-100 font-sans leading-normal text-gray-800">

    <!-- Pre loader -->
    <div class="preloader">
        <img class="preloader-item" src="assets/images/loader/02.gif" alt="Loading">
    </div>


    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        {{ template_content }}
    </main>

    <!-- **************** MAIN CONTENT END **************** -->

    <!-- Custom cursor -->
    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>


    <!-- JS libraries, plugins and custom scripts  -->

    <!-- Bootstrap JS -->
    <!-- <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

    <!-- Vendors -->
    <script src="themes/folio/vendor/aos/aos.js"></script>
    <script src="themes/folio/vendor/jarallax/jarallax.min.js"></script>
    <script src="themes/folio/vendor/tiny-slider/tiny-slider.js"></script>

    <!-- Template Functions -->
    <script src="themes/folio/js/functions.js"></script>




    <script src="{{ mix src='/js/site.js' }}"></script>
</body>

</html>